@font-face {
  font-family: inter-bold;
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: inter-regular;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: inter-semibold;
  src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
}

.container {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  max-width: 60%;
  margin: 3rem auto;
  padding: 0.1rem 3rem;
  border-radius: 1rem;
}

.pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  overflow: hidden;
  margin: 3rem auto;
  object-fit: cover;
  display: flex;
}

.name {
  color: hsl(0, 0%, 100%);
  font-family: inter-semibold;
  text-align: center;
  font-size: xx-large;
  margin: 1rem auto;
}

.location {
  color: hsl(75, 94%, 57%);
  font-family: inter-bold;
  font-size: large;
  text-align: center;
  margin: 1rem auto 2rem auto;
}

.message {
  color: hsl(0, 0%, 100%);
  font-family: inter-regular;
  text-align: center;
  margin: 1rem 0 2rem 0;
  font-size: large;
}

.list {
  font-size: large;
  color: hsl(0, 0%, 100%);
  font-family: inter-bold;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem 2rem 3rem;
  max-width: 100%;
}

ul li {
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.5rem;
  gap: 2rem;
}

ul li:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.attribution {
  color: hsl(0, 0%, 100%);
  font-family: inter-regular;
  padding-bottom: 2rem;
}
