@font-face {
  font-family: inter-bold;
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
  font-family: inter-regular;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: inter-semibold;
  src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: hsl(0, 0%, 8%);
}

.container {
  background-color: hsl(0, 0%, 12%);
}

.pic {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  overflow: hidden;
}

.name {
  color: hsl(0, 0%, 100%);
  font-family: inter-bold;
}
.message {
  color: hsl(0, 0%, 100%);
  font-family: inter-regular;
}

.location {
  color: hsl(75, 94%, 57%);
  font-family: inter-semibold;
}

.list {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-family: inter-semibold;
}

.attribution {
  color: hsl(0, 0%, 100%);
}
