@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
}

body {
  background-color: var(--off-black);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  font-family: "Inter";
}

.container {
  background-color: var(--dark-grey);
  display: flex;
  height: 580px;
  width: 330px;
  min-width: 320px;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  justify-content: space-between;
}

img {
  border-radius: 50%;
  width: 5.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem auto;
  text-align: center;
}

.location {
  color: var(--green);
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
}

.message {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.list p {
  font-weight: 600;
  text-align: center;
  color: var(--white);
  background-color: var(--grey);
  border-radius: 0.5rem;
  padding: 0.9rem 0 0.9rem;
  font-size: 0.9rem;
}

.list p:hover {
  background-color: var(--green);
  color: var(--grey);
  cursor: pointer;
}

@media (min-width: 426px) {
  .container {
    width: 400px;
    height: 600px;
    padding: 2.5rem;
  }
}
